@media screen and (max-width: 576px) {
  nav ul {
    display: none;
  }
  .three-line {
    display: block;
  }
  .header-content {
    flex-direction: column;
  }
  .header-desc h2 {
    font-size: 36px;
  }
  .miama-font {
    font-size: 36px;
  }
  .header-desc {
    width: 100%;
  }
  .btn-primary {
    width: 163px;
    font-size: 1rem;
    padding: 10px 0;
  }
  .img-box {
    padding: 5px 4px;
  }
  .box-1 {
    top: 65px;
    right: -25px;
  }
  .box-2 {
    bottom: 190px;
    right: 75px;
  }
  .img-box i {
    font-size: 2rem;
  }
  .img-box h2 {
    font-size: 1rem;
  }
  .img-box p {
    font-size: 0.5rem;
  }

  .box-1 h2 {
    font-size: 1.8rem;
  }

  /* Habit Section */
  .habit-desc h2 {
    font-size: 2rem;
  }
  .habit-desc p {
    width: 316px;
  }
  .habit-box-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) and (min-width: 577px) {
  .header-container {
    background-color: aqua;
  }
  nav {
    padding-top: 50px;
  }
  nav ul li a {
    margin-right: 20px;
  }
  .header-section {
    width: 95%;
  }
}
